VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a67d79d000fcca992f3
VITE_APPWRITE_DATABASE_ID=yav
VITE_APPWRITE_USERS_TABLE_ID=users
VITE_APPWRITE_CHECKS_TABLE_ID=checks
VITE_APPWRITE_UPLOADS_BUCKET_ID=uploads
VITE_APPWRITE_ANALYZE_FUNCTION_ID=analyze
